# Application Config
APP_NAME="Ilham Ramadhan Setiawan"
APP_ENV="development"
APP_URL="http://localhost/ilham-ramadhan-portfolio"

# Admin Dashboard Password (Default: ilham123)
ADMIN_PASSWORD="ilham123"
